.Upcoming {
  background-color: #02081a;
  padding: 10px 55px;
  padding-bottom: 5%;
}

.title_Upcoming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
.title_Upcoming h1 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 3vw;
  font-weight: 100;
}

.title_Upcoming p {
  color: #f5ab35;
  font-family: "Merriweather", serif;
  cursor: pointer;
}

.cardCon_Upcoming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  height: 350px;
}

.cardConatiner_Upcoming {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6%;
}

.card_Upcoming {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(22 32 60);
  border-radius: 10px;
  box-shadow: rgb(39 60 117) 8px -6px 0px 2px;
  height: 300px;
}

.imageCon_Upcoming {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.imageCon_Upcoming img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
  height: 180px;
}

.cardDetail_UpComing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.name_UpComing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.name_UpComing p {
  background-color: #f5ab35;
  padding: 2px 7px;
  margin: 4px 0px;
  font-family: "Lato";
}
.name_UpComing h3 {
  font-size: 2.4vw;
  margin: 3px 0px;
  font-family: sans-serif;
  color: #fff;
}
.save_Upcoming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.save_Upcoming p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  cursor: pointer;
  color: rgb(72, 126, 176);
}
.rightIcon {
  font-size: 20px;
  margin-left: 8px;
  margin-bottom: -3px;
}
.saveIcon {
  font-size: 2.3vw;
  cursor: pointer;
  color: rgb(250, 92, 152);
}

@media only screen and (max-width: 500px) {
  .Upcoming {
    background-color: #02081a;
    padding: 10px 20px;
    padding-bottom: 5%;
  }
  .title_Upcoming h1 {
    font-size: 6vw;
  }
  .name_UpComing h3 {
    font-size: 5vw;
  }
  .save_Upcoming p {
    font-size: 3vw;
  }
  .saveIcon {
    font-size: 5vw;
  }
}
